.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputAmount {
  width: 300px;
}

.inputAmount,
.exchangeBtn {
  height: 50px;
  padding-left: 15px;
  border-radius: 35px;
  color: rgb(33, 20, 80);
  border-color: white;
  background-color: var(--limelight);
}

.currenciesOptions {
  width: 300px;
  height: 50px;
}

.selectOptions {
  width: 300px;
  height: 50px;
  outline: none;
  border-color: white;
  background-color: var(--limelight);
  cursor: pointer;
}

.exchangeBtn {
  border-color: var(--obsidian-shell);
  background-color: var(--wisteria-purple);
  color: white;
  align-self: center;
  width: 100px;
  cursor: pointer;
  padding: 10px;
}

@media screen and (min-width: 992px) {
  .formWrapper {
    flex-direction: row;
    gap: 30px;
  }

  .inputAmount {
    width: 160px;
  }

  .currenciesOptions,
  .selectOptions {
    width: 100px;
  }
}
