.errorWrapper {
  margin-top: 20px;
  align-content: center;
}

.errorInfo {
  color: rgb(253, 8, 8);
  font-size: 18px;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .errorWrapper {
    margin-top: 60px;
  }
}
