.loaderWrapper {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  margin-top: -60px;
}

@media screen and (min-width: 992px) {
  .loaderWrapper {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-top: 0px;
    margin-left: -135px;
  }
}
