.footerIconBtn {
  background-color: var(--siesta-rose);
  color: var(--obsidian-shell);
  border-radius: 50%;
  width: 35px;
  border: none;
}

@media screen and (min-width: 992px) {
  .footerIconBtn {
    width: 45px;
  }
}
