.page-container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0 auto;
  color: var(--obsidian-shell);
  display: flex;
  flex-direction: column;
}

.app-header {
  height: 140px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  align-self: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--limelight);
  background-color: var(--wisteria-purple);
  border: 2px solid var(--siesta-rose);
}

.header-text-wrapper {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-title {
  font-size: 24px;
  font-weight: 900;
}

.header-subtitle {
  font-size: 16px;
  font-weight: 200;
}

.currency-options-conatiner {
  min-width: 350px;
  min-height: 350px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid var(--wisteria-purple);
  background-color: var(--olden-amber);
  border-radius: 20px;
}

.input-wrapper {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-amount {
  width: 300px;
}

.input-amount,
.exchange-btn {
  height: 50px;
  padding-left: 15px;
  border-radius: 35px;
  color: rgb(33, 20, 80);
  border-color: white;
  background-color: var(--limelight);
}

.currencies-options {
  width: 300px;
  height: 50px;
}

.select-options {
  width: 300px;
  height: 50px;
  outline: none;
  border-color: white;
  background-color: var(--limelight);
  cursor: pointer;
}

.exchange-btn {
  border-color: var(--obsidian-shell);
  background-color: var(--wisteria-purple);
  color: white;
  align-self: center;
  width: 100px;
  cursor: pointer;
  padding: 10px;
}

.text {
  font-size: 16px;
  font-weight: 200;
  margin: 0;
}

.text-amount {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}

.hidden {
  display: none;
}

.loader-wrapper {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  margin-top: -60px;
}

.btn {
  width: 130px;
  height: 38px;
}

.error-wrapper {
  margin-top: 20px;
  align-content: center;
}

.error-info {
  color: rgb(253, 8, 8);
  font-size: 18px;
  font-weight: 500;
}

.app-footer {
  margin-top: auto;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.company-name {
  font-size: 12px;
  font-weight: 200;
}

.fb-insta-logo-container {
  height: 35px;
  display: flex;
  gap: 5px;
}

.footer-icon-btn {
  background-color: var(--siesta-rose);
  color: var(--obsidian-shell);
  border-radius: 50%;
  width: 35px;
  border: none;
}

/*  */
/*  */
@media screen and (min-width: 992px) {
  .page-container {
    width: 90%;
  }

  .app-header {
    height: 200px;
    padding: 20px 40px;
  }

  .logo {
    width: 120px;
    height: 120px;
  }

  .header-text-wrapper {
    width: 400px;
  }

  .header-title {
    font-size: 32px;
  }

  .header-subtitle {
    font-size: 20px;
  }

  .currency-options-conatiner {
    padding: 20px 60px;
    align-items: start;
    justify-content: start;
  }

  .input-wrapper {
    margin: 40px 0px;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
  }

  .form-wrapper {
    flex-direction: row;
    gap: 30px;
  }

  .input-amount {
    width: 160px;
  }

  .currencies-options,
  .select-options {
    width: 100px;
  }

  .text {
    font-size: 20px;
  }

  .hidden {
    display: none;
  }

  .loader-wrapper {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-top: 0px;
    margin-left: -160px;
  }

  .btn {
    width: 130px;
    height: 38px;
  }

  .error-wrapper {
    margin-top: 60px;
  }

  .app-footer {
    padding: 20px 40px;
  }

  .company-name {
    font-size: 16px;
  }
  .fb-insta-logo-container {
    height: 45px;
    gap: 10px;
  }

  .footer-icon-btn {
    width: 45px;
  }
}
