.page-container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0 auto;
  color: var(--obsidian-shell);
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .page-container {
    width: 90%;
  }
}
